@import "tailwindcss";

@theme {

  --color-navcolor: #427d2a;
  --color-betterbrown: #2b2313;
  --color-sitegreen: #e4f2da;
  --font-old: 'Courier New', Courier, monospace;
  --font-now: Arial, Helvetica, sans-serif;
  --font-new: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  --animate-fadein: fadein 0.5s ease-in-out;
  --animate-fadeout: fadeout 0.5s ease-in-out;

  --animate-grow: grow 0.2s ease-in-out;
  --animate-shrink: shrink 0.2s ease-in-out;

  @keyframes fadein {
    0% {
      opacity: 10%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes fadeout {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 10%;
    }
  }

  @keyframes grow {
    0% {
      scale: 100%;
    }
    100% {
      scale: 110%;
    }
  }

  @keyframes shrink {
    0% {
      scale: 110%;
    }
    100% {
      scale: 100%;
    }
  }
}

.header {
  text-align: center;
  font-size: 3svw;
  background-color: rgb(154, 199, 133);
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border-width: 20%;
  border-radius: 40px;
  border-color: #888;
  color: rgb(0, 0, 0);
}

.mini-header {
  font-size: 2svw;
  background-color: rgb(154, 199, 133);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgb(0, 0, 0);
}

.blurb {
  font-size: 1.5svw;
  color: #ffffff;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
}

.codeEntry {
  font-size: 1.4vw;
  color: #427d2a;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
}

.code-entry-container {
  position: relative;
  display: inline-block; /* Or block, depending on your layout needs */
  width: 13vw;
  height: 80px;
  background-size: cover; /* Adjust as needed: contain, auto, etc. */
  margin: 5px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(13, 52, 65, 0); 
  transform: translate(-50%, -50%);
}

.clear {
  color: #ffffff00;
  background-color: #ffffff00;
}

.button {
  font-size: calc(1vw + 0.5vh);
  color: rgb(0, 0, 0);
  background-color: #aaa7a7;
  border-radius: 40vh;
  border-color: #888;
}

.button:active {
  background-color: #427d2a;
}

.button:hover {
  background-color: #e2d8da;
}

.xbutton {
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  background-color: #e41818;
  border-radius: 1vw;
  border-color: #3f1212;
}

.gearbutton {
  background-color: #427d2a;
  color: rgb(0, 0, 0);
  border-radius: 1vh;
  padding: 4px;
}

.link {
  color: white;
}
.link:hover {
  color: rgb(151, 173, 151)
}

.link-disabled {
  color: rgba(255, 255, 255, 0);
}

.link-disabled:hover {
  color: rgba(255, 255, 255, 0);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.frame {
  background-size: 100% 100%;
  width: calc(10vh + 6vw);
  min-width: calc(8vh + 4vw);
  max-width: 100%;
  height: calc(12vh + 8vw);
}

.frame:hover {
  
}

.painting {
  background-size: 75% 75%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
